*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/buildSrc/build/classes/groovy/main/FileUtil.class
/buildSrc/build/classes/groovy/main/GetlocalIP.class
/buildSrc/build/libs/buildSrc.jar
/buildSrc/build/tmp/jar/MANIFEST.MF
